.form {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--block-color);
    border-radius: var(--border-radius);

    .cont {
        margin-bottom: 20px;
    }

    .title {
        margin-bottom: 15px;

        font-weight: 400;
        font-size: 1.5em;
    }

    @media (max-width:633px) {
        .cont {
            max-width: 100%;
        }
        .title {
            font-size: 1em;
        }
    }
}

.btn {
    background-color: #0098d8;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: var(--border-radius);
    transform: .2s;

    font-family: Inter;
    color: white;

    &:hover {
        background-color: #0ba6e8;
    }

    &:active {
        background-color: #0285be;
    }
}