.auth {
    flex: 1;
    display: flex;
    padding: 4.5em;

    font-family: Inter;
    color: black;

    .title {
        margin: 15px 0;
    }
}

.component {
    display: inline-flex;
    margin-bottom: 10px;
}

.container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    font-size: 2.5em;
    color: #222
}