#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  flex: 1;
  display: flex;

  color: white;
}

/* body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #111f22;
  border: 0.5px solid rgba(40, 59, 66, 0.45);
  border-radius: 5px;
} */
