.profile {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;

    font-family: Inter;
    color: #222;
}

.container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto 200px auto;
}

.title {
    margin: 0;

    font-weight: 400;
    font-size: 2.5em;
}

.text {
    font-weight: 500;
    margin-top: 10px;
}

.data {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--block-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;

    li {
        width: 100%;
        display: flex;
        padding: 5px 5px;
        border-radius: 5px;
    }

    li:nth-child(odd) {
        background-color: #e6e5e5;
    }

    .table_title {
        width: 40%;
        word-break: break-all;

        font-weight: 600;
    }

    .table_value {
        width: 60%;
        word-break: break-all;
    }
}

.qrcode {
    max-width: 100px;
    max-height: 100px;
    margin: 20px 0;

    img {
        width: 100%;
    }
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    visibility: hidden;
    opacity: 0;
}

.active_back {
    visibility: visible;
    opacity: 1;
}

.exit {
    background-color: #0098d8;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: var(--border-radius);
    transform: .2s;

    font-family: Inter;
    color: white;

    &:hover {
        background-color: #0ba6e8;
    }

    &:active {
        background-color: #0285be;
    }
}