.profile {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;

    font-family: Inter;
    color: #222;
}

.logo {
    margin-bottom: 10px;
}

.container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

.title {
    margin: 0;

    font-weight: 400;
    font-size: 2.5em;
}

.text {
    font-weight: 500;
    margin-top: 10px;
}

.data {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--block-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;

    font-size: 14px;
    li {
        width: 100%;
        display: flex;
        padding: 7px 5px;
        border-radius: 5px;
    }

    li:nth-child(odd) {
        background-color: #e6e5e5;
    }

    .table_title {
        width: 40%;
        word-break: break-all;

        font-weight: 600;
    }

    .table_value {
        width: 60%;
        word-break: break-all;
        display: flex;


        span {
            margin-left: 10px;

            font-weight: 600;
        }

        @media (max-width: 600px) {
            width: 70%;
            margin-left: auto;
        }
        
        // @media (max-width: 447px) {
        //     justify-content: end;
        // }
    }

    .ablauf .table_value {
        text-decoration: underline;
    }
}

.qrcode {
    position: relative;
    width: 100%;
    max-height: 200px;
    margin: 20px 0;
    display: flex;
    align-items: end;

    // img {
    //     position: relative;
    //     // right: -12px;
    //     width: 200px;
    //     margin: 0 auto;
    // }
    
    .qr {
        margin: 0 auto;

        @media (max-width: 298px) {
            margin: 0;
        };
    }

    .price {
        position: absolute;
        display: flex;
        // margin-left: auto;
        right: 0;
        bottom: 0;
        
        color: #0098d8;
        span {
            color: black;
            font-weight: 500;
            font-size: 20px;
        }
    }
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.active_back {
    visibility: visible;
    opacity: 1;
}

.exit {
    background-color: #0098d8;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: var(--border-radius);
    transform: .2s;

    font-family: Inter;
    color: white;

    &:hover {
        background-color: #0ba6e8;
    }

    &:active {
        background-color: #0285be;
    }
}