.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex: 1;
    background-color: #6996dc;

    font-family: Roboto;
}

.profile-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #c9d9f2;
    background-color: white;
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}

.profile-header {
    width: 100%;
    background: rgb(179, 202, 237);
    background: linear-gradient(90deg, rgba(179, 202, 237, 1) 0%, rgba(116, 158, 223, 1) 100%);
    padding: 20px 20px;

    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.profile-body {
    padding: 0 20px;
    background-color: white;
    flex: 1;
}

.logos {
    display: flex;
    gap: 20px;
    padding: 25px 0 35px 0;
    justify-content: center;

    img {
        height: 27px;
        object-fit: cover;

        @media (max-width: 419px) {
            height: 24px;
        }
    }
}

.profile-qr {
    width: 100%;
    height: max-content;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.profile-code {
    padding: 20px 20px 15px 20px;
    border: 1.8px solid #ebebeb;
    border-radius: 8px;
    margin-top: 20px;

    color: black;
    font-size: 19px;
    text-align: center;
}

.interaction {
    position: relative;
    width: 100%;
    background-color: #ecedef;
    border-radius: 10px;
    margin-top: 10px;
    height: 10px;

    &::before {
        position: absolute;
        content: '';
        width: 50px;
        background-color: #6496d8;
        height: 100%;
        left: 5px;
        border-radius: 10px;
        animation: anim 3s infinite linear;
    }
}

.profile-info {
    background-color: #f9fbfa;
    margin-top: 20px;
    border-top: 1.5px solid #e6e8e7;

    color: black;
    font-size: 17px;

    .block {
        padding: 20px;
        display: flex;
        border-bottom: 1.5px solid #e6e8e7;
    }

    .img-clock {
        width: 20px;
        margin-right: 10px;

        img {
            width: 100%;
        }
    }

    .imgs {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .table {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 15px;

        li {
            width: 100%;

            p {
                width: 50%;
                display: flex;
            }
            .name {
                color: #626b80;
                font-family: Inter;
            }
            .value {
                justify-content: end;

                font-weight: 700;
            }
        }
    }

    .last-text {
        color: #646871
    }
}

@keyframes anim {
    0% {
        left: 0;
    }

    50% {
        left: calc(100% - 50px);
    }

    100% {
        left: 0;
    }
}

// ? 2 ============================================>> 

// .profile {
//     flex: 1;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 10px;

//     font-family: Inter;
//     color: #222;
// }

// .container {
//     max-width: 560px;
//     width: 100%;
//     display: flex;
//     flex-direction: column;

//     font-family: Inter;

//     .title {
//         font-size: 12px;
//         font-weight: 800;
//     }
// }

// .logos {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     div {
//         max-width: 100px;

//         img {
//             width: 100%;
//         }
//     }
// }

// .first_info {
//     margin-top: 30px;
// }

// .sub_info {
//     display: flex;
//     flex-direction: column;
//     gap: 4px;

//     font-size: 10px;
//     font-weight: 500;
// }

// .info_about_ticket {
//     margin-top: 10px;

//     .info {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//     }

//     .grey_cart {
//         padding: 15px 20px;
//         height: max-content;
//         // overflow: hidden;
//         // border-radius: 20px;
//         background: url('../../../public/photo_5197612956416860965_m.jpg') no-repeat;
//         background-size: cover;
//     }

//     .top {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         margin-bottom: 20px;
//     }

//     .info_title {
//         font-weight: 700;
//         font-size: 12px;
//     }

//     .info_value {
//         font-size: 12px;
//         font-weight: 500;
//     }

//     .top_value {
//         max-width: 150px;
//         margin-left: 20px;
//     }

//     .bottom_value {
//         display: flex;
//         justify-content: space-between;
//         width: 100%;
//         max-width: 200px;
//         margin-top: 5px;

//         span {
//             display: flex;
//             justify-content: start;
//             width: 30%;
//         }
//     }

//     .bottom_title {
//         margin-bottom: 5px;
//     }
// }

// .qrcode {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-right: 30px;

//     img {
//         max-width: 224px;
//     }

//     p {
//         margin-top: 10px;

//         font-size: 12px;
//         font-weight: 500;
//     }
// }

// .payment_information {
//     margin-left: 20px;

//     .list_info {
//         display: flex;
//         flex-direction: column;
//         gap: 5px;

//         li {
//             display: flex;
//             width: 100%;

//             font-size: 12px;
//             font-weight: 500;

//             .list_info_right {
//                 width: 55%;
//             }

//             .list_info_left  {
//                 width: 45%;
//             }
//         }
//     }
// }

// .info_for_use {
//     margin-top: 20px;

//     font-size: 12px;
//     font-weight: 500;

//     .info_list {
//         display: flex;
//         flex-direction: column;
//         gap: 5px;
//         margin-top: 10px;
//     }

//     li {
//         display: inline;

//         font-size: 11px;
//     }

//     a {
//         margin-left: 2px;

//         color: rgb(73, 43, 226);
//         text-decoration: underline;
//     }

//     .transdev {
//         margin-top: 20px;
//     }

//     .mgt {
//         margin-top: 10px;
//     }
// }

// ? 1 ===============================================================>>

// .logo {
//     margin-bottom: 10px;
// }

// .container {
//     max-width: 1050px;
//     width: 100%;
//     margin: 0 auto;
// }

// .title {
//     margin: 0;

//     font-weight: 400;
//     font-size: 2.5em;
// }

// .text {
//     font-weight: 500;
//     margin-top: 10px;
// }

// .data {
//     width: 100%;
//     padding: 10px 20px;
//     background-color: var(--block-color);
//     border-radius: var(--border-radius);
//     display: flex;
//     flex-direction: column;

//     font-size: 14px;
//     li {
//         width: 100%;
//         display: flex;
//         padding: 7px 5px;
//         border-radius: 5px;
//     }

//     li:nth-child(odd) {
//         background-color: #e6e5e5;
//     }

//     .table_title {
//         width: 40%;
//         word-break: break-all;

//         font-weight: 600;
//     }

//     .table_value {
//         width: 60%;
//         word-break: break-all;
//         display: flex;


//         span {
//             margin-left: 10px;

//             font-weight: 600;
//         }

//         @media (max-width: 600px) {
//             width: 70%;
//             margin-left: auto;
//         }

//         // @media (max-width: 447px) {
//         //     justify-content: end;
//         // }
//     }

//     .ablauf .table_value {
//         text-decoration: underline;
//     }
// }

// .qrcode {
//     position: relative;
//     width: 100%;
//     max-height: 200px;
//     margin: 20px 0;
//     display: flex;
//     align-items: end;

//     img {
//         // position: relative;
//         // right: -12px;
//         width: 200px;
//         margin: 0 auto;
//     }

//     .qr {
//         margin: 0 auto;

//         @media (max-width: 298px) {
//             margin: 0;
//         };
//     }

//     .price {
//         position: absolute;
//         display: flex;
//         // margin-left: auto;
//         right: 0;
//         bottom: 0;

//         color: #0098d8;
//         span {
//             color: black;
//             font-weight: 500;
//             font-size: 20px;
//         }
//     }
// }

// .back {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: white;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition-duration: .2s;
//     visibility: hidden;
//     opacity: 0;
//     z-index: 1;
// }

// .active_back {
//     visibility: visible;
//     opacity: 1;
// }

.exit {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0098d8;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: var(--border-radius);
    transform: .2s;

    font-family: Inter;
    color: white;

    &:hover {
        background-color: #0ba6e8;
    }

    &:active {
        background-color: #0285be;
    }
}